@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color: #2a2b32;
  --second-bg-color: #202020;
  --text-color: #fff;
  --second-color: #ccc;
  --main-color: rgba(235, 149, 29, 0.759);
  --big-font: 5rem;
  --h2-font: 3rem;
  --p-font: 1.1rem;
  --hover-color: #ff004f;
}

#bg-particles {
  z-index: -10000;
  width: 100%;
  height: 100%;
  position: fixed;
  background-size: cover;
  background-position: 50% 50%;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  display: flex;
  z-index: 1000;
  align-items: center;
  justify-content: space-between;
  padding: 22px 15%;
  border-bottom: 1px solid transparent;
  transition: all 0.4s ease;
  background: transparent;
}

header.sticky {
  background: var(--bg-color);
  border-bottom: 1px solid #ffffff1a;
  padding: 12px 15%;
}

.logo {
  color: var(--text-color);
  font-size: 300%;
  font-family: 'Monoton';
  font-weight: 700;
  letter-spacing: -1px;
}

span {
  color: var(--main-color);
}

.logo span {
  font-family: 'Monoton';
  color: var(--main-color);
}

.navlist {
  display: flex;
}

.navlist a {
  color: var(--second-color);
  font-size: 17px;
  font-weight: 500;
  margin: 0 25px;
  transition: all 0.4s ease;
  position: relative;
}

.navlist a:hover {
  color: var(--main-color);
}

.navlist a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 1.5px;
  background-color: var(--main-color);
}

.navlist a:hover:before {
  width: 100%;
}

.navlist a::before {
  transition: 0.4s;
}

.navlist a:active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 35px;
  color: var(--text-color);
  z-index: 100000001;
  cursor: pointer;
  margin-left: 25px;
  display: none;
}

section {
  padding: 160px 15% 120px;
}

.home {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.slide {
  margin-bottom: 20px;
}

.one {
  display: inline-block;
  margin-right: 15px;
  height: 32px;
  padding: 0 15px;
  line-height: 32px;
  font-size: 1rem;
  border-radius: 5px;
  background: var(--main-color);
  color: var(--text-color);
  font-weight: 600;
  letter-spacing: 1px;
}

.two {
  display: inline-block;
  color: var(--second-color);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.home {
  position: relative;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
}

.home-text h1 {
  font-size: var(--big-font);
  font-weight: 700;
  color: var(--text-color);
  line-height: 1.1;
  margin: 0 0 8px;
  letter-spacing: -5px;
}

.home-text h3 {
  color: var(--text-color);
  margin: 0 0 35px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.1;
}

.home-text p {
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 1.8;
  margin-bottom: 40px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn {
  display: inline-block;
  padding: 12px 29px;
  background: var(--main-color);
  border-radius: 5px;
  color: var(--text-color);
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all 0.45s ease;
}

.btn:hover {
  transform: scale(0.9);
}

.btn2 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 600;
  color: var(--text-color);
  margin-left: 35px;
}

.btn2 span i {
  height: 55px;
  width: 55px;
  background: var(--main-color);
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  border-radius: 50%;
  margin-right: 15px;
  transition: all 0.4s ease;
}

.btn2 span i:hover {
  transform: scale(1.1) translateY(5px);
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
}

.about-img img {
  max-width: 450px;
  height: auto;
  width: 100%;
  border-radius: 15px;
}

.about-text h2 {
  font-size: var(--h2-font);
  line-height: 1;
}

.about-text h4 {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-color);
  line-height: 1.7;
  margin: 15px 0 30px;
}

.about-text p {
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 1.8;
  margin-bottom: 4rem;
}

.main-text {
  text-align: center;
}

.main-text p {
  color: var(--second-color);
  font-size: 19px;
  margin-bottom: 15px;
}

.main-text h2 {
  font-size: var(--h2-font);
  line-height: 1;
}

.services-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
  align-items: center;
  gap: 2.5rem;
  margin-top: 5rem;
}

.box {
  background: var(--second-bg-color);
  padding: 35px 45px;
  border-radius: 8px;
  transition: all 0.4s ease;
}

.s-icons i {
  font-size: 32px;
  margin-bottom: 20px;
}

.box h3 {
  font-size: 24px;
  color: var(--text-color);
  margin-bottom: 15px;
}

.box p {
  color: var(--second-color);
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 25px;
}

.read {
  display: inline-block;
  padding: 8px 18px;
  background: #333333;
  color: var(--second-color);
  font-size: 14px;
  font-weight: 700;
  background-repeat: 8px;
  transition: all 0.4s ease;
  border-radius: 8px;
}

.read:hover {
  letter-spacing: 1px;
  background: #ffffff99;
  color: var(--text-color);
}

.box:hover {
  transform: translateY(-8px);
  cursor: pointer;
}

.projects-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
  margin-top: 5rem;
}

.row {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  max-height: 350px;
}

.row img {
  width: 100%; /* Defina a largura da imagem como 100% para preencher a largura do contêiner */
  border-radius: 8px;
  display: block;
  transition: transform 0.4s;
  object-fit: cover; /* Redimensionar a imagem para cobrir todo o contêiner */
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 40px;
  transition: height 0.4s;
}

.layer h5 {
  font-size: 20px;
  margin-bottom: 15px;
}

.layer i {
  color: var(--main-color);
  margin-top: 20px;
  font-size: 20px;
  background: var(--text-color);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.row:hover img {
  transform: scale(1.1);
}

.row:hover .layer {
  height: 100%;
}

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.contact-text h4 {
  color: var(--text-color);
  margin: 18px 0;
  font-size: 20px;
}

.contact-text h2 {
  font-size: var(--h2-font);
  line-height: 1;
}

.contact-text p {
  color: var(--second-color);
  font-size: var(--p-font);
  line-height: 1.8;
  margin-bottom: 30px;
}

.list {
  margin-bottom: 2.8rem;
}

.list li {
  margin-bottom: 12px;
}

.list li a {
  display: block;
  color: var(--second-color);
  font-size: 14px;
  transition: all 0.4s ease;
}

.list li a:hover {
  color: var(--text-color);
  transform: translateX(5px);
}

.contact-icons i {
  height: 45px;
  width: 45px;
  background: var(--main-color);
  color: var(--text-color);
  font-size: 22px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-right: 15px;
  transition: all 0.4s ease;
}

.contact-icons i:hover {
  background: var(--text-color);
  color: var(--main-color);
}

.contact-form form {
  position: relative;
  margin-top: 15px;
}

.contact-form form input,
form textarea {
  width: 100%;
  padding: 14px;
  background: var(--second-bg-color);
  color: var(--text-color);
  border: none;
  outline: none;
  border-radius: 8px;
  margin-bottom: 10px;
}

.contact-form textarea {
  resize: none;
  height: 240px;
}

.contact-form .submit {
  display: inline-block;
  font-size: 16px;
  background: var(--main-color);
  color: var(--text-color);
  width: 160px;
  transition: all 0.4s ease;
}

.contact-form .submit:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.end {
  background: var(--second-bg-color);
  padding: 20px 15%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.last-text p {
  color: var(--second-color);
  font-size: 14px;
}

.top i {
  padding: 10px;
  border-radius: 8px;
  font-size: 15px;
  color: var(--text-color);
  background: var(--main-color);
}

@media (max-width: 1245px) {
  header {
    padding: 12px 2.5%;
    transition: 0.4s;
  }
  header.sticky {
    padding: 12px 2.5%;
    transition: 0.4s;
  }
  section {
    padding: 110px 3% 60px;
  }
  .end {
    padding: 20px 3% 20px;
  }
}

@media (max-width: 1100px) {
  :root {
    --big-font: 4rem;
    --h2-font: 2.5rem;
    --p-font: 1rem;
    transition: 0.1s;
  }
  .home.text {
    font-size: 2.5rem;
  }
  .home {
    height: 87vh;
  }
  .row img {
    width: 100%; /* Defina a largura da imagem como 100% para preencher a largura do contêiner */
    border-radius: 8px;
    display: block;
    transition: transform 0.4s;
    object-fit: cover; /* Redimensionar a imagem para cobrir todo o contêiner */
  }
}

@media (max-width: 920px) {
  .about {
    grid-template-columns: 1fr;
  }

  .about-img {
    text-align: center;
    order: 2;
  }

  .about-img img {
    width: 80%;
    height: auto;
    min-width: 80%;
  }

  .contact {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 840px) {
  #menu-icon {
    display: block;
  }

  .navlist {
    position: absolute;
    top: -10000;
    right: 0;
    display: none;
    flex-direction: column;
    background: var(--bg-color);
    transition: all 0.4s ease;
  }

  .navlist a {
    display: flex;
    margin: 17px;
    font-size: 20px;
    transition: all 0.4s ease;
    color: var(--text-color);
  }

  .navlist a:hover {
    color: var(--main-color);
  }

  .navlist a.active {
    color: var(--text-color);
  }

  .navlist.open {
    display: flex;
    top: 100%;
  }

  .projects-content {
    grid-template-columns: 1fr;
  }
}
